<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @person.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>Class:</strong>
  <%= @person.class %>
</p>

<p>
  <strong>Label number:</strong>
  <%= @person.label_number %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
